body{
    background-image: url(./Images/Image01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #051937 !important;
}

.card{
    background-color: #3d1ea46b !important;
    color: aliceblue !important;

}
#btn1,#btn2
{
    width:100%;
    padding: 2% !important;

}

#header
{
    font-family: 'Handjet', cursive;
    background-color: rgba(192, 214, 192, 0.505);
    color:rgb(23, 18, 103)  !important;
}

#tempHeader
{
    color: orange;
}

#inputCity
{
    font-family: 'Kalam', cursive;
    font-size: larger;
}

.weather-data
{
    font-family: 'Kalam', cursive;
    font-size: larger; 
}

@media screen and (max-width: 1033px) {
#btn1,#btn2,#inputCity{
    font-size: large;
}

  }

  @media screen and (max-width: 669px) {
    #btn1,#btn2,#inputCity{
        font-size:large;
    }
    
      }